include ./mixin

doctype html
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    block stylesheet
    link(href='/favicon.ico', rel='shortcut icon')
    link(href='/favicon.png', rel='apple-touch-icon-precomposed')
  block body
